[submodule "build-system"]
	path = build-system
	url = https://git.iszf.irk.ru/certo/build-system.git
[submodule "packages/jansson"]
	path = packages/jansson
	url = https://git.iszf.irk.ru/certo/jansson.git
[submodule "packages/sqlite"]
	path = packages/sqlite
	url = https://git.iszf.irk.ru/certo/sqlite.git
[submodule "packages/libedit"]
	path = packages/libedit
	url = https://git.iszf.irk.ru/certo/libedit.git
[submodule "packages/asterisk"]
	path = packages/asterisk
	url = https://git.iszf.irk.ru/certo/asterisk.git
[submodule "packages/linux"]
	path = packages/linux
	url = https://git.iszf.irk.ru/certo/linux.git
[submodule "packages/dahdi"]
	path = packages/dahdi
	url = https://git.iszf.irk.ru/certo/dahdi.git
[submodule "packages/libpri"]
	path = packages/libpri
	url = https://git.iszf.irk.ru/certo/libpri.git
